.content {

  h2 {
    margin-bottom: 0rem;
  }

  ul {
    margin-top: 0rem;
  }

  li {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  a {
    text-decoration: none;
    color: teal;
    padding-left: 2rem;
  }
}
