pre {
  font-size: 1.4rem;
  overflow: auto;

  // to be adjusted
  padding-left: 14rem;
  padding-top: 1.4rem;
  padding-bottom: 1.4rem;

  background-color: #2b303b;

  span {
    line-height: 2rem;
  }
}

pre[data-linenos] {
  padding: 1.4rem 0;

}pre table td {
  padding: 0.2rem;
}

// The line number cells
pre table td:nth-of-type(1) {
  text-align: center;
  user-select: auto;
}

pre mark {
  // If you want your highlights to take the full width.
  display: block;
  // The default background colour of a mark is bright yellow
  background-color: rgba(254, 252, 232, 0.9);
}

pre table {
  width: 100%;
  border-collapse: collapse;
}
