@import './animation.scss';

.content {
  width: 160rem;
  min-height: 85rem;
  margin-top: 3rem;

  display: flex;
  flex-direction: column;

  align-items: center;
}

.big_name {
  font-size: 8rem;
  text-align: center;

  margin-top: 16rem;
  font-family: 'Martel Sans', sans-serif;

  height: 14rem;

  // animations
  animation: fade_in 2s;
  -moz-animation: fade_in 2s;
  -webkit-animation: fade_in 2s;
  -o-animation: fade_in 2s;
}

.mini_nav {
  display: flex;
  flex-direction: row;

  width: 24rem;
  justify-content: space-between;

  margin-top: 2rem;

  animation: fade_in_down 2s;
  -moz-animation: fade_in_down 2s;
  -webkit-animation: fade_in_down 2s;
  -o-animation: fade_in_down 2s;


  a {
    color: #1f2323;
    text-decoration: none;
    font-size: 1.6rem;
    font-family: 'Cinzel', serif;

    &:hover {
      color: #f00000;
  }
  }
}
