@import "./youtube.scss";

.content {
  font-size: 1.8rem;

  .title {
    font-family: 'Cinzel', serif;
  }


  h1 {
    font-family: 'Martel Sans', sans-serif;
    height: 2rem;
  }
  h2 {
    font-family: 'Martel Sans', sans-serif;
    height: 2rem;
  }
  h3 {
    font-family: 'Martel Sans', sans-serif;
    height: 2rem;
    margin-bottom: 0;
  }
  h4 {
    font-family: 'Martel Sans', sans-serif;
    height: 2rem;
    margin-bottom: 0;
  }
  h5 {
    font-family: 'Martel Sans', sans-serif;
    height: 2rem;
    margin-bottom: 0;
  }

  blockquote {
    border: 0.04rem solid #bbbbbb;
    border-radius: 0.6rem;

    background-color: #f0ffff;

    padding-top: 0.4rem;
    padding-bottom: 0.4rem;

    margin-top: 1.2rem;
    margin-bottom: 1.2rem;
  }

  li {
    p {
      code {
        background-color: gainsboro;
        font-size: 1.5rem;

        padding: 0.3rem;
      }
    }
  }

  a {
    text-decoration: none;
    font-weight: bold;
    color: teal;

    &:hover {
      text-decoration: underline;
      color: tomato;
    }
  }


  // table style
  table {
      border-collapse: collapse;
      text-align: left;
      line-height: 1.5;
  }
  table thead th {
      text-align: center;
      padding: 6px;
      font-weight: bold;
      vertical-align: top;
      color: #1b3453;
      border-top: 2px solid #1b3453;
      border-bottom: 2px solid #1b3453;
  }
  table tbody th {
      padding: 2px 2px;
      font-weight: bold;
      vertical-align: top;
      border-bottom: 1px solid #ccc;
      background: #f3f6f7;
  }
  table td {
      padding: 5px 15px;
      vertical-align: top;
      font-family: consolas;
  }
}
