.tags li::before {
  content: "🏷 ";
}

.tags a {
  color: var(--primary-color);
  border-bottom: 3px solid var(--primary-color);
}

.tags a:hover {
  color: var(--hover_color);
  background-color: var(--primary-color);
}
