{% extends "base.html" %}

{% block stylesheet %}
  <link rel="stylesheet" href="{{ get_url(path="landing.css")}}" />
{% endblock stylesheet %}

{% block content %}

<div class="big_name">
  c0np4nn4
</div>
<hr style="margin-left: auto; margin-right: auto; width: 80%; height: 0.2rem; border-style: dashed; color: #1f2323" />
<div class="mini_nav">
  <a href="{{get_url(path='@/about/_index.md')}}">About Me</a>
  <a href="{{get_url(path='@/posts/_index.md')}}">Posts</a>
  <a href="{{get_url(path='@/archive/_index.md')}}">Archive</a>
</div>
{% endblock content %}
