<nav class="main-menu" aria-label="Main Menu">
    <a class="skip-to-content" href="#main">Skip to main content</a>
    <button class="main-menu-dropdown-button" popovertarget="nav-menu">Menu</button>
    <ul id="nav-menu" class="main-menu-items" aria-label="Site Navigation" popover>
        {%- for item in config.extra.main_menu -%}
        {%- if item.url is starting_with("http") -%}
            {%- set url = item.url -%}
        {%- else -%}
            {%- set trailing_slash = item.trailing_slash | default(value=false) -%}
            {%- set url = get_url(path=item.url, trailing_slash=trailing_slash) -%}
        {%- endif %}
        <li><a href="{{ url | safe }}" {%- if item.new_tab %} target="_blank" {%- endif -%}>{{ item.name }}</a></li>
        {%- endfor %}
    </ul>
</nav>
